name: Test Datastream Options

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/test_datastream_options.yaml'
      - 'scripts/datastream'
      - 'versions.yml'
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/test_datastream_options.yaml'
      - 'scripts/datastream'
      - 'versions.yml'

permissions:
  contents: read

jobs:
  test-datastream-options:
    runs-on: ubuntu-latest
    env:
      TEST_DATE: 20260101

      GPKG_TEST: palisade.gpkg
      GPKG_VPU: nextgen_VPU_09.gpkg
      REALIZATION: realization.json
      REALIZATION_MODELS: realization_sloth_nom_cfe_pet.json
      REALIZATION_VPU: realization_VPU_09.json

      FORCINGS_FILE_TEST: 1_forcings.nc
      FORCINGS_FILE_VPU: ngen.t00z.short_range.forcing.f001_f018.VPU_09.nc

      RESOURCES_CACHE: ${{ github.workspace }}/data/cache/datastream-resources
      RESOURCES_RUN: ${{ github.workspace }}/data/datastream_test/datastream-resources

      HTTPS_BUCKET: https://ciroh-community-ngen-datastream.s3.amazonaws.com
      S3_BUCKET: s3://ciroh-community-ngen-datastream

      RESOURCES_HTTPS: ${{ env.HTTPS_BUCKET }}/v2.2_resources/VPU_09
      RESOURCES_S3: ${{ env.S3_BUCKET }}/v2.2_resources/VPU_09

      NGENRUN: ${{ github.workspace }}/data/datastream_test/ngen-run
      NGENRUN_CONFIG: ${{ env.NGENRUN }}/config

      BMI_CONFS_CACHE: ${{ env.RESOURCES_CACHE }}/config/ngen-bmi-configs.tar.gz
      BMI_CONFS_RESOURCES_RUN: ${{ env.RESOURCES_RUN }}/config/ngen-bmi-configs.tar.gz
      BMI_CONFS_NGENRUN: ${{ env.NGENRUN_CONFIG }}/cat_config
      BMI_CONFS_HTTPS: ${{ env.RESOURCES_HTTPS }}/config/ngen-bmi-configs.tar.gz
      BMI_CONFS_S3: ${{ env.RESOURCES_S3 }}/config/ngen-bmi-configs.tar.gz

      GPKG_TEST_CACHE: ${{ env.RESOURCES_CACHE }}/config/${{ env.GPKG_TEST }}
      GPKG_TEST_RESOURCES_RUN: ${{ env.RESOURCES_RUN }}/config/${{ env.GPKG_TEST }}
      GPKG_TEST_NGENRUN: ${{ env.NGENRUN_CONFIG }}/${{ env.GPKG_TEST }}

      GPKG_VPU_RESOURCES_RUN: ${{ env.RESOURCES_RUN }}/config/${{ env.GPKG_VPU }}
      GPKG_VPU_NGENRUN: ${{ env.NGENRUN_CONFIG }}/${{ env.GPKG_VPU }}
      GPKG_VPU_HTTPS: ${{ env.RESOURCES_HTTPS }}/config/${{ env.GPKG_VPU }}
      GPKG_VPU_S3: ${{ env.RESOURCES_S3 }}/config/${{ env.GPKG_VPU }}

      REALIZATION_CACHE: ${{ env.RESOURCES_CACHE }}/config/${{ env.REALIZATION_MODELS }}
      REALIZATION_RESOURCES_RUN_TEST: ${{ env.RESOURCES_RUN }}/config/${{ env.REALIZATION_MODELS }}
      REALIZATION_RESOURCES_RUN_VPU: ${{ env.RESOURCES_RUN }}/config/${{ env.REALIZATION_VPU }}
      REALIZATION_NGENRUN: ${{ env.NGENRUN_CONFIG }}/${{ env.REALIZATION }}
      REALIZATION_HTTPS: ${{ env.HTTPS_BUCKET }}/realizations/${{ env.REALIZATION_VPU }}
      REALIZATION_S3: ${{ env.S3_BUCKET }}/realizations/${{ env.REALIZATION_VPU }}

      FORCINGS_TEST_CACHE: ${{ env.RESOURCES_CACHE }}/ngen-forcings/${{ env.FORCINGS_FILE_TEST }}
      FORCINGS_TEST_RESOURCES_RUN: ${{ env.RESOURCES_RUN }}/ngen-forcings/${{ env.FORCINGS_FILE_TEST }}
      FORCINGS_TEST_NGENRUN: ${{ env.NGENRUN }}/forcings/${{ env.FORCINGS_FILE_TEST }}

      FORCINGS_VPU_RESOURCES_RUN: ${{ env.RESOURCES_RUN }}/ngen-forcings/${{ env.FORCINGS_FILE_VPU }}
      FORCINGS_VPU_NGENRUN: ${{ env.NGENRUN }}/forcings/${{ env.FORCINGS_FILE_VPU }}

      FORCINGS_VPU_HTTPS: https://ciroh-community-ngen-datastream.s3.amazonaws.com/forcings/v2.2_hydrofabric/ngen.${{ env.TEST_DATE }}/forcing_short_range/00/ngen.t00z.short_range.forcing.f001_f018.VPU_09.nc
      FORCINGS_VPU_S3: s3://ciroh-community-ngen-datastream/outputs/v2.2_hydrofabric/cfe_nom/ngen.${{ env.TEST_DATE }}/forcing_short_range/00/ngen.t00z.short_range.forcing.f001_f018.VPU_09.nc

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Configure AWS
        run: |
          aws configure set aws_access_key_id ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws configure set aws_secret_access_key ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws configure set region us-east-1

      - name: Build docker containers
        run: |
          docker compose -f docker/docker-compose.yml build datastream

      - name: Get geopackage
        run: |
          curl -L -O https://ngen-datastream.s3.us-east-2.amazonaws.com/${{ env.GPKG_TEST }}

      - name: Base test and NWM_RETRO_V3
        run: |
          sudo rm -rf ${{ github.workspace }}/data/datastream_test
          ./scripts/datastream -s 202006200100 -e 202006200200 -C NWM_RETRO_V3 -d ${{ github.workspace }}/data/datastream_test -g ${{ github.workspace }}/${{ env.GPKG_TEST }} -R ${{ github.workspace }}/configs/ngen/${{ env.REALIZATION_MODELS }}

      - name: Cache resource directory and CONF_FILE
        run: |
          mkdir -p ./data/cache
          cp ./data/datastream_test/datastream-metadata/datastream.env ./data/cache
          cp -r ${{ env.RESOURCES_RUN }} ./data/cache
          cp -r ${{ env.RESOURCES_CACHE }} ./data/cache/datastream-resources-no-forcings
          cp -r ${{ env.RESOURCES_CACHE }} ./data/cache/datastream-resources-missing
          sudo rm -rf ./data/cache/datastream-resources-no-forcings/ngen-forcings

      - name: datastream CONF_FILE
        run: |
          sudo rm -rf ${{ github.workspace }}/data/datastream_test
          ./scripts/datastream -c ./data/cache/datastream.env
