name: Test Datastream Options

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'docker/**'
      - 'forcingprocessor/**'
      - 'scripts/**'  
      - 'python_tools/**'      
      - '!docs/**'
      - '!workflows/**'
      - '!scripts/README.md'
      - '!docker/README.md'
      - '!forcingprocessor/README.md'
      - '!python_tools/README.md'
     
  pull_request:
    branches:
      - main  
    paths:
      - 'docker/**'
      - 'forcingprocessor/**'
      - 'scripts/**'  
      - 'python_tools/**'      
      - '!docs/**'
      - '!workflows/**'
      - '!scripts/README.md'
      - '!docker/README.md'
      - '!forcingprocessor/README.md'
      - '!python_tools/README.md'            

      
permissions:
  contents: read      

jobs:
  test-datastream-options:
    runs-on: ubuntu-latest
    env :
      if [[ "$(uname)" == "Linux" ]]; then
          YESTERDAY=$(date -d "yesterday" '+%Y%m%d')
      elif [[ "$(uname)" == "Darwin" ]]; then
          YESTERDAY=$(date -v-1d '+%Y%m%d')
      fi
      GPKG_TEST=palisade.gpkg
      GPKG_VPU=nextgen_VPU_09.gpkg
      REALIZATION=realization.json
      REALIZATION_MODELS=realization_sloth_nom_cfe_pet.json
      REALIZATION_VPU=realization_VPU_09.json
      FORCINGS_FILE_TEST=1_forcings.nc
      FORCINGS_FILE_VPU=ngen.t00z.short_range.forcing.f001_f018.VPU_09.nc
      RESOURCES_CACHE=$(pwd)/data/cache/datastream-resources
      RESOURCES_RUN=$(pwd)/data/datastream_test/datastream-resources
      HTTPS_BUCKET=https://ciroh-community-ngen-datastream.s3.amazonaws.com
      S3_BUCKET=s3://ciroh-community-ngen-datastream
      RESOURCES_HTTPS=$HTTPS_BUCKET/v2.2_resources/VPU_09
      RESOURCES_S3=$S3_BUCKET/v2.2_resources/VPU_09
      NGENRUN=$(pwd)/data/datastream_test/ngen-run
      NGENRUN_CONFIG=$NGENRUN/config

      BMI_CONFS_CACHE=$RESOURCES_CACHE/config/ngen-bmi-configs.tar.gz   
      BMI_CONFS_RESOURCES_RUN=$RESOURCES_RUN/config/ngen-bmi-configs.tar.gz
      BMI_CONFS_NGENRUN=$NGENRUN_CONFIG/cat_config
      BMI_CONFS_HTTPS=$RESOURCES_HTTPS/config/ngen-bmi-configs.tar.gz
      BMI_CONFS_S3=$RESOURCES_S3/config/ngen-bmi-configs.tar.gz

      GPKG_TEST_CACHE="$RESOURCES_CACHE/config/$GPKG_TEST"   
      GPKG_TEST_RESOURCES_RUN="$RESOURCES_RUN/config/$GPKG_TEST"
      GPKG_TEST_NGENRUN=$NGENRUN_CONFIG/$GPKG_TEST
      GPKG_VPU_RESOURCES_RUN="$RESOURCES_RUN/config/$GPKG_VPU"
      GPKG_VPU_NGENRUN=$NGENRUN_CONFIG/$GPKG_VPU
      GPKG_VPU_HTTPS=$RESOURCES_HTTPS/config/$GPKG_VPU
      GPKG_VPU_S3=$RESOURCES_S3/config/$GPKG_VPU

      REALIZATION_CACHE="${RESOURCES_CACHE}/config/$REALIZATION_MODELS"   
      REALIZATION_RESOURCES_RUN_TEST="${RESOURCES_RUN}/config/$REALIZATION_MODELS"
      REALIZATION_RESOURCES_RUN_VPU="${RESOURCES_RUN}/config/$REALIZATION_VPU"
      REALIZATION_NGENRUN=$NGENRUN_CONFIG/"$REALIZATION"
      REALIZATION_HTTPS="${HTTPS_BUCKET}/realizations/$REALIZATION_VPU"
      REALIZATION_S3="${S3_BUCKET}/realizations/$REALIZATION_VPU"

      FORCINGS_TEST_CACHE="$RESOURCES_CACHE/ngen-forcings/$FORCINGS_FILE_TEST"  
      FORCINGS_TEST_RESOURCES_RUN="$RESOURCES_RUN/ngen-forcings/$FORCINGS_FILE_TEST"  
      FORCINGS_TEST_NGENRUN=$NGENRUN/forcings/$FORCINGS_FILE_TEST
      FORCINGS_VPU_RESOURCES_RUN="$RESOURCES_RUN/ngen-forcings/$FORCINGS_FILE_VPU" 
      FORCINGS_VPU_NGENRUN=$NGENRUN/forcings/$FORCINGS_FILE_VPU
      FORCINGS_VPU_HTTPS=https://ciroh-community-ngen-datastream.s3.amazonaws.com/v2.2/ngen.$YESTERDAY/forcing_short_range/00/ngen.t00z.short_range.forcing.f001_f018.VPU_09.nc
      FORCINGS_VPU_S3=s3://ciroh-community-ngen-datastream/v2.2/ngen.$YESTERDAY/forcing_short_range/00/ngen.t00z.short_range.forcing.f001_f018.VPU_09.nc

    steps:
    - name: Checkout code
      uses: actions/checkout@v2  

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3      

    - name: Configure AWS
      run: |
        aws configure set aws_access_key_id ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws configure set aws_secret_access_key ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws configure set region us-east-1    
        export AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID }}
        export AWS_SECRET_ACCESS_KEY=${{ secrets.AWS_SECRET_ACCESS_KEY }}
        echo $AWS_ACCESS_KEY_ID
        echo $AWS_SECRET_ACCESS_KEY

    - name: Build docker containers
      run : |
        docker compose -f docker/docker-compose.yml build datastream

    - name: Get geopackage 
      run: |
        curl -L -O https://ngen-datastream.s3.us-east-2.amazonaws.com/$GPKG_TEST

    - name: Base test and NWM_RETRO_V3
      run: |        
        sudo rm -rf $(pwd)/data/datastream_test        
        ./scripts/datastream -s 202006200100 -e 202006200200 -C NWM_RETRO_V3 -d $(pwd)/data/datastream_test -g $(pwd)/$GPKG_TEST -R $(pwd)/configs/ngen/$REALIZATION_MODELS

    - name: Cache resource directory and CONF_FILE
      run: |
        mkdir ./data/cache
        cp ./data/datastream_test/datastream-metadata/datastream.env ./data/cache
        cp -r $RESOURCES_RUN ./data/cache
        cp -r $RESOURCES_CACHE ./data/cache/datastream-resources-no-forcings
        cp -r $RESOURCES_CACHE ./data/cache/datastream-resources-missing
        sudo rm -rf ./data/cache/datastream-resources-no-forcings/ngen-forcings 

    - name: datastream CONF_FILE
      run: |        
        sudo rm -rf $(pwd)/data/datastream_test        
        ./scripts/datastream -c ./data/cache/datastream.env

    - name: Local file options, no resource directory, dry run
      if: always()
      run: |
        sudo rm -rf $(pwd)/data/datastream_test
        ./scripts/datastream -N $BMI_CONFS_CACHE -g $GPKG_TEST_CACHE -R $REALIZATION_CACHE -F $FORCINGS_TEST_CACHE -s 202006200100 -e 202006200200 -C NWM_RETRO_V3 -d $(pwd)/data/datastream_test -y True
        # Confirm files were placed in resources
        test -f "$BMI_CONFS_RESOURCES_RUN" || (echo "File $BMI_CONFS_RESOURCES_RUN does not exist." && exit 1)
        test -f "$GPKG_TEST_RESOURCES_RUN" || (echo "File $GPKG_TEST_RESOURCES_RUN does not exist." && exit 1)
        test -f "$REALIZATION_RESOURCES_RUN_TEST" || (echo "File $REALIZATION_RESOURCES_RUN_TEST does not exist." && exit 1)
        test -f "$FORCINGS_TEST_RESOURCES_RUN" || (echo "File $FORCINGS_TEST_RESOURCES_RUN does not exist." && exit 1)
        # Confirm file were place in ngen-run
        [  $(find "$BMI_CONFS_NGENRUN" -mindepth 1 -maxdepth 1 -type d | wc -l) -eq 0 ] && echo "No subdirectories found in $BMI_CONFS_NGENRUN." && exit 1
        test -f "$GPKG_TEST_NGENRUN" || (echo "File $GPKG_TEST_NGENRUN does not exist." && exit 1)
        test -f "$REALIZATION_NGENRUN" || (echo "File $REALIZATION_NGENRUN does not exist." && exit 1)
        test -f "$FORCINGS_TEST_NGENRUN" || (echo "File $FORCINGS_TEST_NGENRUN does not exist." && exit 1)

    - name: https file options, no resource directory, dry run
      if: always()
      run: |
        sudo rm -rf $(pwd)/data/datastream_test
        ./scripts/datastream -N $BMI_CONFS_HTTPS -g $GPKG_VPU_HTTPS -R $REALIZATION_HTTPS -F $FORCINGS_VPU_HTTPS -s DAILY -e $YESTERDAY"0000" -C NWM_V3_SHORT_RANGE_00 -d $(pwd)/data/datastream_test -y True
        # Confirm files were placed in resources
        test -f "$BMI_CONFS_RESOURCES_RUN" || (echo "File $BMI_CONFS_RESOURCES_RUN does not exist." && exit 1)
        test -f "$GPKG_VPU_RESOURCES_RUN" || (echo "File $GPKG_VPU_RESOURCES_RUN does not exist." && exit 1)
        test -f "$REALIZATION_NGENRUN" || (echo "File $REALIZATION_NGENRUN does not exist." && exit 1)
        test -f "$FORCINGS_VPU_RESOURCES_RUN" || (echo "File $FORCINGS_VPU_RESOURCES_RUN does not exist." && exit 1)
        # Confirm file were place in ngen-run
        [  $(find "$BMI_CONFS_NGENRUN" -mindepth 1 -maxdepth 1 -type d | wc -l) -eq 0 ] && echo "No subdirectories found in $BMI_CONFS_NGENRUN." && exit 1
        test -f "$GPKG_VPU_NGENRUN" || (echo "File $GPKG_VPU_NGENRUN does not exist." && exit 1)
        test -f "$REALIZATION_NGENRUN" || (echo "File $REALIZATION_NGENRUN does not exist." && exit 1)
        test -f "$FORCINGS_VPU_NGENRUN" || (echo "File $FORCINGS_VPU_NGENRUN does not exist." && exit 1)


    - name: s3 file options, no resource directory, dry run
      if: always()
      run: |
        sudo rm -rf $(pwd)/data/datastream_test
        ./scripts/datastream -N $BMI_CONFS_S3 -g $GPKG_VPU_S3 -R $REALIZATION_S3 -F $FORCINGS_VPU_S3 -s DAILY -e $YESTERDAY"0000" -C NWM_V3_SHORT_RANGE_00 -d $(pwd)/data/datastream_test -y True
        # Confirm files were placed in resources
        test -f "$BMI_CONFS_RESOURCES_RUN" || (echo "File $BMI_CONFS_RESOURCES_RUN does not exist." && exit 1)
        test -f "$GPKG_VPU_RESOURCES_RUN" || (echo "File $GPKG_VPU_RESOURCES_RUN does not exist." && exit 1)
        test -f "$REALIZATION_NGENRUN" || (echo "File $REALIZATION_NGENRUN does not exist." && exit 1)
        test -f "$FORCINGS_VPU_RESOURCES_RUN" || (echo "File $FORCINGS_VPU_RESOURCES_RUN does not exist." && exit 1)
        # Confirm file were place in ngen-run
        [  $(find "$BMI_CONFS_NGENRUN" -mindepth 1 -maxdepth 1 -type d | wc -l) -eq 0 ] && echo "No subdirectories found in $BMI_CONFS_NGENRUN." && exit 1
        test -f "$GPKG_VPU_NGENRUN" || (echo "File $GPKG_VPU_NGENRUN does not exist." && exit 1)
        test -f "$REALIZATION_NGENRUN" || (echo "File $REALIZATION_NGENRUN does not exist." && exit 1)
        test -f "$FORCINGS_VPU_NGENRUN" || (echo "File $FORCINGS_VPU_NGENRUN does not exist." && exit 1)

    - name: Local file options, local resource directory, dry run
      if: always()
      run: |
        sudo rm -rf $(pwd)/data/datastream_test
        ./scripts/datastream -r $RESOURCES_CACHE -N $BMI_CONFS_CACHE -g $GPKG_TEST_CACHE -R $REALIZATION_CACHE -F $FORCINGS_TEST_CACHE -s 202006200100 -e 202006200200 -C NWM_RETRO_V3 -d $(pwd)/data/datastream_test -y True
        # Confirm files were placed in resources
        test -f "$BMI_CONFS_RESOURCES_RUN" || (echo "File $BMI_CONFS_RESOURCES_RUN does not exist." && exit 1)
        test -f "$GPKG_TEST_RESOURCES_RUN" || (echo "File $GPKG_TEST_RESOURCES_RUN does not exist." && exit 1)
        test -f "$REALIZATION_RESOURCES_RUN_TEST" || (echo "File $REALIZATION_RESOURCES_RUN_TEST does not exist." && exit 1)
        test -f "$FORCINGS_TEST_RESOURCES_RUN" || (echo "File $FORCINGS_TEST_RESOURCES_RUN does not exist." && exit 1)
        # Confirm file were place in ngen-run
        [  $(find "$BMI_CONFS_NGENRUN" -mindepth 1 -maxdepth 1 -type d | wc -l) -eq 0 ] && echo "No subdirectories found in $BMI_CONFS_NGENRUN." && exit 1
        test -f "$GPKG_TEST_NGENRUN" || (echo "File $GPKG_TEST_NGENRUN does not exist." && exit 1)
        test -f "$REALIZATION_NGENRUN" || (echo "File $REALIZATION_NGENRUN does not exist." && exit 1)
        test -f "$FORCINGS_TEST_NGENRUN" || (echo "File $FORCINGS_TEST_NGENRUN does not exist." && exit 1)

    - name: s3 file options, s3 resource directory, dry run
      if: always()
      run: |
        sudo rm -rf $(pwd)/data/datastream_test
        ./scripts/datastream -r $RESOURCES_S3 -N $BMI_CONFS_S3 -g $GPKG_VPU_S3 -R $REALIZATION_S3 -F $FORCINGS_VPU_S3 -s DAILY -e $YESTERDAY"0000" -C NWM_V3_SHORT_RANGE_00 -d $(pwd)/data/datastream_test -y True
        # Confirm files were placed in resources
        test -f "$BMI_CONFS_RESOURCES_RUN" || (echo "File $BMI_CONFS_RESOURCES_RUN does not exist." && exit 1)
        test -f "$GPKG_VPU_RESOURCES_RUN" || (echo "File $GPKG_VPU_RESOURCES_RUN does not exist." && exit 1)
        test -f "$REALIZATION_NGENRUN" || (echo "File $REALIZATION_NGENRUN does not exist." && exit 1)
        test -f "$FORCINGS_VPU_RESOURCES_RUN" || (echo "File $FORCINGS_VPU_RESOURCES_RUN does not exist." && exit 1)
        # Confirm file were place in ngen-run
        [  $(find "$BMI_CONFS_NGENRUN" -mindepth 1 -maxdepth 1 -type d | wc -l) -eq 0 ] && echo "No subdirectories found in $BMI_CONFS_NGENRUN." && exit 1
        test -f "$GPKG_VPU_NGENRUN" || (echo "File $GPKG_VPU_NGENRUN does not exist." && exit 1)
        test -f "$REALIZATION_NGENRUN" || (echo "File $REALIZATION_NGENRUN does not exist." && exit 1)
        test -f "$FORCINGS_VPU_NGENRUN" || (echo "File $FORCINGS_VPU_NGENRUN does not exist." && exit 1)

    - name: Resource directory test
      if: always()
      run: |
        sudo rm -rf $(pwd)/data/datastream_test
        ./scripts/datastream -r ./data/cache/datastream-resources -s 202006200100 -e 202006200200 -C NWM_RETRO_V3 -d $(pwd)/data/datastream_test

    - name: Resource directory test missing all
      if: always()
      run: |
        sudo rm -rf $(pwd)/data/datastream_test
        sudo rm -rf ./data/cache/datastream-resources-missing/ngen-forcings 
        sudo rm -rf ./data/cache/datastream-resources-missing/config/*
        ./scripts/datastream -r ./data/cache/datastream-resources-missing -R $(pwd)/configs/ngen/$REALIZATION -s 202006200100 -e 202006200200 -C NWM_RETRO_V3 -d $(pwd)/data/datastream_test -g $(pwd)/$GPKG_TEST

    - name: S3 write out test
      if: always()
      run: |        
        sudo rm -rf $(pwd)/data/datastream_test
        ./scripts/datastream -s 202006200100 -e 202006200200 -C NWM_RETRO_V3 -d $(pwd)/data/datastream_test -g $(pwd)/$GPKG_TEST -R $(pwd)/configs/ngen/$REALIZATION -S ciroh-community-ngen-datastream -o git_actions_test
        aws s3api wait object-exists --bucket ciroh-community-ngen-datastream --key git_actions_test/ngen-run.tar.gz   
        aws s3 rm s3://ciroh-community-ngen-datastream/git_actions_test --recursive



